<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.MyStudy.Basic_control_view">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- Network -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 'Sup Koush: https://plus.google.com/103583939320326217147/posts/T9xnMJEnzf1 -->
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />

    <application

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="29">
        <!--        <activity-->
        <!--            android:name="com.MyStudy.OkHttpTest.OkHttpTestActivity"-->
        <!--            android:exported="false" />-->
        <activity
            android:name="com.MyStudy.OpenGl.SurfaceViewActivity"
            android:exported="false" />
        <activity
            android:name=".TestActivity"
            android:exported="false" />
        <activity
            android:name="com.MyStudy.DisplayAdapter.DisplayMainActivity"
            android:exported="false" />
        <activity
            android:name="com.MyStudy.FragmentTest.NavigationBar_Message.Navigation_Message_Activity"
            android:exported="false" />
        <activity
            android:name="com.MyStudy.FragmentTest.NavigationBar.Navigation_bar_Activity"
            android:exported="false" />
        <activity
            android:name="com.MyStudy.FragmentTest.FragmentTest2"
            android:exported="false" />
        <activity
            android:name="com.MyStudy.FragmentTest.FragmentTest1"
            android:exported="false" />
        <activity
            android:name="com.MyStudy.FragmentTest.FragmentActivity"
            android:exported="false" />
        <activity
            android:name="com.MyStudy.windowManagerTest.My_Floating_Window.WindowActivity"
            android:exported="false" />
        <activity
            android:name="com.MyStudy.PreferenceTest.AsyncTaskActivity"
            android:exported="false" />
        <activity
            android:name="com.MyStudy.PreferenceTest.Test_Settings_Activity"
            android:exported="false" />
        <activity
            android:name="com.MyStudy.PreferenceTest.FragmentActivity"
            android:exported="false" />
        <activity
            android:name="com.MyStudy.PreferenceTest.PreferenceActivity"
            android:exported="false" />
        <activity
            android:name="com.MyStudy.windowManagerTest.windowManagerActivity"
            android:exported="false" />
        <activity
            android:name="com.MyStudy.aidlTest.System_Event_Test"
            android:exported="false" />
        <activity
            android:name="com.MyStudy.list_recycle_view.RecyclerView.RecyclerTest2"
            android:exported="false" />
        <activity
            android:name="com.MyStudy.list_recycle_view.RecyclerView.RecyclerTest1"
            android:exported="false" />
        <activity
            android:name="com.MyStudy.list_recycle_view.List_Recycler_ViewTestActivity"
            android:exported="false" />
        <activity
            android:name="com.MyStudy.list_recycle_view.RecyclerView.RecyclerTest3"
            android:exported="false" />
        <activity
            android:name="com.MyStudy.list_recycle_view.listview.ListViewTest2"
            android:exported="false" />
        <activity
            android:name="com.MyStudy.list_recycle_view.listview.ListViewTest1"
            android:exported="false" />
        <activity
            android:name="com.MyStudy.DialogTest.DialogTestActivity"
            android:exported="false" />
        <activity
            android:name="com.MyStudy.SensorManagerTest.SensorManagerActivity"
            android:exported="false" />
        <activity
            android:name="com.MyStudy.ViewTreeObserverTest.ViewTreeObserverActivity"
            android:exported="false" />
        <activity
            android:name="com.MyStudy.PowerControlTest.PowerContronlActivity"
            android:exported="false" />
        <activity
            android:name="com.MyStudy.ViewModel.View_Data_Activity"
            android:exported="false" />
        <activity
            android:name="com.MyStudy.ViewModel.LiveDataActivity"
            android:exported="false" />
        <activity
            android:name="com.MyStudy.ViewModel.TimerActivity"
            android:exported="false" />
        <activity
            android:name="com.MyStudy.custom_view.Custom_view_group"
            android:exported="false" />
        <activity
            android:name="com.MyStudy.custom_view.ViewTest_Activity"
            android:exported="false" />
        <activity
            android:name="com.MyStudy.custom_view.Custom_view_Activity"
            android:exported="false" />
        <activity
            android:name="com.MyStudy.linechart.More_Line_Chart"
            android:exported="false" />
        <activity
            android:name=".LineChartActivity"
            android:exported="false" />
        <activity
            android:name=".ImageviewActivity"
            android:exported="false" />
        <activity
            android:name=".RadioButtonActivity"
            android:exported="false" />
        <activity
            android:name=".EditTextActivity"
            android:exported="false" />
        <activity
            android:name=".TextViewActivity"
            android:exported="false" />
        <activity
            android:name="com.MyStudy.OkHttpTest.OkHttpTestActivity"
            android:exported="false"></activity>


        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.MyStudy.HotFixTest.HotFixActivity"
            android:exported="false">

        </activity>

        <activity
            android:name="com.MyStudy.HotFixTest.HotFixActivity2"
            android:exported="false"></activity>


        <service android:name="com.MyStudy.windowManagerTest.FPS.FPSService" />
        <service android:name="com.MyStudy.windowManagerTest.My_Floating_Window.MainService" />

        <receiver
            android:name="com.MyStudy.PowerControlTest.WLWakefulReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="WANG_LEI" />
            </intent-filter>
        </receiver>

        <service android:name="com.MyStudy.PowerControlTest.MyIntentService" />
    </application>

</manifest>