<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.henry.basic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- Network -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 'Sup Koush: https://plus.google.com/103583939320326217147/posts/T9xnMJEnzf1 -->
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="29">


        <activity
            android:name="com.henry.cmaketest.jniActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.henry.projectPractice.activity.GuideActivityTwo"
            android:exported="false">

        </activity>

        <activity
            android:name="com.henry.projectPractice.activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.henry.projectPractice.activity.myActivity"
            android:exported="false" />
        <activity
            android:name="com.henry.projectPractice.activity.GuideActivity"
            android:exported="false">

        </activity>

        <activity
            android:name="com.henry.ViewPagerTest.ViewPagerTestActivity"
            android:exported="false">

        </activity>

        <activity
            android:name="com.henry.projectPractice.activity.SplashActivity"
            android:exported="false">

        </activity>

        <activity
            android:name="com.henry.jetPackTest.navigationTest.NavigationTestActivity"
            android:exported="false" />

        <activity
            android:name="com.henry.jetPackTest.RoomTest.RoomTestActivity"
            android:exported="false" />

        <activity
            android:name="com.henry.jetPackTest.viewModelTest.ViewModelActivity"
            android:exported="false" />

        <activity
            android:name="com.henry.jetPackTest.dataBindingTest.DataBindingTestActivity"
            android:exported="false" />
        <activity
            android:name="com.henry.jetPackTest.ViewBindingTest.ViewBindingActivity"
            android:exported="false" />
        <activity
            android:name="com.henry.jetPackTest.OkLiveDataBusTest.OkLiveDataBusSecondActivity"
            android:exported="false" />
        <activity
            android:name="com.henry.jetPackTest.OkLiveDataBusTest.OkLiveDataBusActivity"
            android:exported="true" />
        <activity
            android:name="com.henry.jetPackTest.LiveDataTest.JumpTest.LiveDataSecondActivity"
            android:exported="false" />

        <service
            android:name="com.henry.jetPackTest.LiveDataTest.weixindemo.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.henry.jetPackTest.LiveDataTest.LiveDataActivity"
            android:exported="false" />
        <activity
            android:name="com.henry.jetPackTest.LifecycleTest.LifeCycleActivity"
            android:exported="false" />
        <activity
            android:name="com.henry.jetPackTest.HiltTest.user.HiltActivity"
            android:exported="false" />
        <activity
            android:name="com.henry.jetPackTest.Dagger2Test.singletonTest.Activitysecond"
            android:exported="false" />
        <activity
            android:name="com.henry.jetPackTest.Dagger2Test.singletonTest.Activityfirst"
            android:exported="false" />
        <activity
            android:name="com.henry.jetPackTest.Dagger2Test.UserActivity"
            android:exported="false" />
        <!-- <activity -->
        <!-- android:name="com.MyStudy.OkHttpTest.OkHttpTestActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name="com.henry.OpenGl.SurfaceViewActivity"
            android:exported="false" />
        <activity
            android:name="com.henry.basic.TestActivity"
            android:exported="false" />

        <activity
            android:name="com.henry.FragmentTest.NavigationBar_Message.Navigation_Message_Activity"
            android:exported="false" />
        <activity
            android:name="com.henry.FragmentTest.NavigationBar.Navigation_bar_Activity"
            android:exported="false" />
        <activity
            android:name="com.henry.FragmentTest.FragmentTest2"
            android:exported="false" />
        <activity
            android:name="com.henry.FragmentTest.FragmentTest1"
            android:exported="false" />
        <activity
            android:name="com.henry.FragmentTest.FragmentActivity"
            android:exported="false" />
        <activity
            android:name="com.henry.windowManagerTest.My_Floating_Window.WindowActivity"
            android:exported="false" />
        <activity
            android:name="com.henry.PreferenceTest.AsyncTaskActivity"
            android:exported="false" />
        <activity
            android:name="com.henry.PreferenceTest.Test_Settings_Activity"
            android:exported="false" />
        <activity
            android:name="com.henry.PreferenceTest.FragmentActivity"
            android:exported="false" />
        <activity
            android:name="com.henry.PreferenceTest.PreferenceActivity"
            android:exported="false" />
        <activity
            android:name="com.henry.windowManagerTest.windowManagerActivity"
            android:exported="false" />
        <activity
            android:name="com.henry.aidlTest.System_Event_Test"
            android:exported="false" />
        <activity
            android:name="com.henry.list_recycle_view.RecyclerView.RecyclerTest2"
            android:exported="false" />
        <activity
            android:name="com.henry.list_recycle_view.RecyclerView.RecyclerTest1"
            android:exported="false" />
        <activity
            android:name="com.henry.list_recycle_view.List_Recycler_ViewTestActivity"
            android:exported="false" />
        <activity
            android:name="com.henry.list_recycle_view.RecyclerView.RecyclerTest3"
            android:exported="false" />
        <activity
            android:name="com.henry.list_recycle_view.listview.ListViewTest2"
            android:exported="false" />
        <activity
            android:name="com.henry.list_recycle_view.listview.ListViewTest1"
            android:exported="false" />
        <activity
            android:name="com.henry.DialogTest.DialogTestActivity"
            android:exported="false" />

        <activity
            android:name="com.henry.ViewTreeObserverTest.ViewTreeObserverActivity"
            android:exported="false" />
        <activity
            android:name="com.henry.PowerControlTest.PowerContronlActivity"
            android:exported="false" />


        <activity
            android:name="com.henry.custom_view.Custom_view_group"
            android:exported="false" />
        <activity
            android:name="com.henry.custom_view.ViewTest_Activity"
            android:exported="false" />
        <activity
            android:name="com.henry.custom_view.Custom_view_Activity"
            android:exported="false" />
        <activity
            android:name="com.henry.linechart.More_Line_Chart"
            android:exported="false" />
        <activity
            android:name="com.henry.basic.LineChartActivity"
            android:exported="false" />

        <activity
            android:name="com.henry.basic.EditTextActivity"
            android:exported="false" />
        <activity
            android:name="com.henry.basic.TextViewActivity"
            android:exported="false" />
        <activity
            android:name="com.henry.OkHttpTest.OkHttpTestActivity"
            android:exported="false" />
        <activity
            android:name="com.henry.basic.MainActivity"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="com.henry.HotFixTest.HotFixActivity"
            android:exported="false" />
        <activity
            android:name="com.henry.HotFixTest.HotFixActivity2"
            android:exported="false" />

        <service android:name="com.henry.windowManagerTest.FPS.FPSService" />
        <service android:name="com.henry.windowManagerTest.My_Floating_Window.MainService" />

        <receiver
            android:name="com.henry.PowerControlTest.WLWakefulReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="WANG_LEI" />
            </intent-filter>
        </receiver>

        <service android:name="com.henry.PowerControlTest.MyIntentService" />
    </application>

</manifest>