<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.HomeScreen">

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- Network -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- IO -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Setting -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 'Sup Koush: https://plus.google.com/103583939320326217147/posts/T9xnMJEnzf1 -->
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name="com.example.ContentProviderTest.MusicListActivity"
            android:exported="false" />
        <activity
            android:name="com.example.OpenGl.SurfaceViewActivity"
            android:exported="false" />
        <activity
            android:name="com.example.Lottie_HMI.HMI_view_Activity"
            android:exported="false" />
        <activity
            android:name=".TestActivity"
            android:exported="false" />
        <activity
            android:name="com.example.DisplayAdapter.DisplayMainActivity"
            android:exported="false" />
        <activity
            android:name="com.example.FragmentTest.NavigationBar_Message.Navigation_Message_Activity"
            android:exported="false" />
        <activity
            android:name="com.example.FragmentTest.NavigationBar.Navigation_bar_Activity"
            android:exported="false" />
        <activity
            android:name="com.example.FragmentTest.FragmentTest2"
            android:exported="false" />
        <activity
            android:name="com.example.FragmentTest.FragmentTest1"
            android:exported="false" />
        <activity
            android:name="com.example.FragmentTest.FragmentActivity"
            android:exported="false" />
        <activity
            android:name="com.example.windowManagerTest.My_Floating_Window.WindowActivity"
            android:exported="false" />
        <activity
            android:name="com.example.PreferenceTest.AsyncTaskActivity"
            android:exported="false" />
        <activity
            android:name="com.example.PreferenceTest.Test_Settings_Activity"
            android:exported="false" />
        <activity
            android:name="com.example.PreferenceTest.FragmentActivity"
            android:exported="false" />
        <activity
            android:name="com.example.PreferenceTest.PreferenceActivity"
            android:exported="false" />
        <activity
            android:name="com.example.windowManagerTest.windowManagerActivity"
            android:exported="false" />
        <activity
            android:name="com.example.aidlTest.System_Event_Test"
            android:exported="false" />
        <activity
            android:name="com.example.list_recycle_view.RecyclerView.RecyclerTest2"
            android:exported="false" />
        <activity
            android:name="com.example.list_recycle_view.RecyclerView.RecyclerTest1"
            android:exported="false" />
        <activity
            android:name="com.example.list_recycle_view.List_Recycler_ViewTestActivity"
            android:exported="false" />
        <activity
            android:name="com.example.list_recycle_view.RecyclerView.RecyclerTest3"
            android:exported="false" />
        <activity
            android:name="com.example.list_recycle_view.listview.ListViewTest2"
            android:exported="false" />
        <activity
            android:name="com.example.list_recycle_view.listview.ListViewTest1"
            android:exported="false" />
        <activity
            android:name="com.example.DialogTest.DialogTestActivity"
            android:exported="false" />
        <activity
            android:name="com.example.SensorManagerTest.SensorManagerActivity"
            android:exported="false" />
        <activity
            android:name="com.example.ViewTreeObserverTest.ViewTreeObserverActivity"
            android:exported="false" />
        <activity
            android:name="com.example.PowerControlTest.PowerContronlActivity"
            android:exported="false" />
        <activity
            android:name="com.example.ViewModel.View_Data_Activity"
            android:exported="false" />
        <activity
            android:name="com.example.ViewModel.LiveDataActivity"
            android:exported="false" />
        <activity
            android:name="com.example.ViewModel.TimerActivity"
            android:exported="false" />
        <activity
            android:name="com.example.custom_view.Custom_view_group"
            android:exported="false" />
        <activity
            android:name="com.example.custom_view.ViewTest_Activity"
            android:exported="false" />
        <activity
            android:name="com.example.custom_view.Custom_view_Activity"
            android:exported="false" />
        <activity
            android:name="com.example.linechart.More_Line_Chart"
            android:exported="false" />
        <activity
            android:name=".LineChartActivity"
            android:exported="false" />
        <activity
            android:name=".ImageviewActivity"
            android:exported="false" />
        <activity
            android:name=".RadioButtonActivity"
            android:exported="false" />
        <activity
            android:name=".EditTextActivity"
            android:exported="false" />
        <activity
            android:name=".TextViewActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.example.windowManagerTest.FPS.FPSService" />
        <service android:name="com.example.windowManagerTest.My_Floating_Window.MainService" />

        <receiver
            android:name="com.example.PowerControlTest.WLWakefulReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="WANG_LEI" />
            </intent-filter>
        </receiver>

        <service android:name="com.example.PowerControlTest.MyIntentService" />
    </application>

</manifest>